<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--  -->
        <link
            rel="stylesheet"
            href="/plugins/bootstrap/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- JavaScript Bundle with Popper -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <title>Profile - <%- disName %></title>
        <style>
            /* Tooltip container */
            .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
            }

            /* Tooltip text */
            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;

                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
        </style>
    </head>
    <body>
        <!-- Navbar path: /partials/navbar -->
        <%- include('../../partials/navbar.ejs') %>

        <section class="container-fluid mt-3" user-data-id="<%- id %>"
            <div class="container mb-4">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center" row-magikId="<%- magikId %> "><%- disName %></h1>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img
                                src="<%- profilePicture %>"
                                alt="<%- username %>"
                                class="img-fluid"
                                style="max-width: 30%"
                            />
                        </div>
                        <div class="col-md-8">
                            <h2 class="text-center"><%- disName %></h2>
                            <p class="text-center"><%- bio %></p>
                            <hr style="opacity: 0.1" />
                            <div class="text-center">
                                <span><strong>Joined</strong></span>
                                <span class="text-secondary d-block">
                                    <%- joinedAt %>
                                </span>
                            </div>

                            <hr style="opacity: 0.1" />

                            <div class="text-center">
                                <% if (premium === true) { %>
                                <span
                                    class="badge bg-primary"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="This user is premium, a legend!"
                                >
                                    <i class="fa-solid fa-gem"></i>
                                </span>
                                <% if (verified === true) { %>
                                <span
                                    class="badge bg-dark"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="This user is verified"
                                >
                                    <i class="fa fa-check"></i>
                                </span>
                                <% } %> <% } %> <% if (userRole === "admin") {
                                %>
                                <span
                                    class="badge bg-success"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="This user is admin"
                                >
                                    Admin
                                </span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <% if (trueRole == 'admin') { %>
                    <button
                        onclick="window.location.href='/dashboard/admin#<%- id %>'"
                        class="btn btn-danger btn-block"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="View user on admin panel"
                    >
                        <i class="fa fa-hammer"></i> Admin Panel
                    </button>
                    <% } %>
                    <% if (userId == trueUserId) { %>
                    <button
                        onclick="window.location.href='/dashboard'"
                        class="btn btn-primary btn-block"
                    >
                        <i class="fa fa-pencil"></i> Edit Profile
                    </button>
                    <% } %>
                    <button
                        class="btn btn-secondary btn-block"
                        id="copy"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Copy the profile to clipboard"
                    >
                        🔗 Copy link
                    </button>

                    <button
                        type="button"
                        class="btn btn-success"
                        data-bs-toggle="modal"
                        data-bs-target="#toggleModal"
                    >
                        <i class="fa fa-share"></i> Share
                    </button>

                    <div
                        class="modal fade"
                        id="toggleModal"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5
                                        class="modal-title"
                                        id="exampleModalLabel"
                                    >
                                        Share <strong><%- disName %>'s</strong>
                                        profile
                                    </h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <a
                                        class="twitter-share-button"
                                        href="https://twitter.com/intent/tweet?text=Check out <%- disName %>'s profile on <%=
                                            process.env.HOST
                                        %>&url=<%- process.env.HOST %>/profile/<%- magikId %>"
                                        data-size="large"
                                        data-text="Check out <%- disName %>'s profile on <%=
                                            process.env.HOST
                                        %>"
                                        data-url="<%- process.env.HOST %>/profile<%- magikId %>"
                                        data-hashtags="<%- disName %>"
                                        data-show-count="false"
                                        ><i class="fa-brands fa-twitter"></i
                                    ></a>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            function logout() {
                window.location.href = "/auth/logout";
            }

            function upload() {
                window.location.href = "/dashboard#upload";
            }

            const copyBtn = document.getElementById("copy");

            copyBtn.addEventListener("click", () => {
                const val = "<%- host %>/profile/<%- magikId %>";
                navigator.clipboard.writeText(val);
                copyBtn.innerText = "✅ Copied!";
                copyBtn.classList.add("Copied");
                setTimeout(() => {
                    copyBtn.innerText = "🔗 Copy link";
                    copyBtn.classList.remove("copied");
                }, 2000);
            });

            var tooltipTriggerList = [].slice.call(
                document.querySelectorAll('[data-bs-toggle="tooltip"]')
            );
            var tooltipList = tooltipTriggerList.map(function (
                tooltipTriggerEl
            ) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        </script>
    </body>
</html>
