<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>Dashboard - <%- username %></title>
    </head>
    <body>
        <!-- Navbar path: /partials/navbar -->
        <%- include('partials/navbar.ejs') %>

        <section class="card">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h2 class="card-title">Dashboard</h2>
                            <p class="card-text">Welcome <%- username %>!</p>
                            <a href="/dashboard#upload" class="btn btn-primary"
                                >Upload</a
                            >
                            <a
                                href="/dashboard#images"
                                class="btn btn-secondary"
                                >Images</a
                            >
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Your Account</h2>
                            <img
                                src="<%- profilePicture %>"
                                alt="profile picture"
                                width="10%"
                                style="
                                    border-radius: 100%;
                                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                                        0 1px 2px rgba(0, 0, 0, 0.24);
                                "
                            />

                            <div class="card-body">
                                <strong>Username</strong>
                                <p class="card-text" style="color: gray">
                                    <%- username %>
                                </p>

                                <% if (disName) { %>
                                <strong>Display Name</strong>
                                <p class="card-text" style="color: gray">
                                    <%- disName %>
                                </p>
                                <% } %>

                                <strong>Joined</strong>
                                <p class="card-text" style="color: gray">
                                    <%- joinedAt %>
                                </p>
                            </div>
                        </div>
                        <div class="mb-2">
                            <a href="/auth/logout" class="btn btn-danger"
                                ><i class="fa fa-sign-out-alt"></i> Logout</a
                            >
                            <a
                                id="delete"
                                href="/auth/delete"
                                class="btn btn-warning"
                                ><i class="fa fa-trash"></i> Delete Account</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document
                    .getElementById("delete")
                    .addEventListener("click", function (e) {
                        e.preventDefault();
                        if (
                            confirm(
                                "⚠ Are you sure you want to delete your account? \n ⛔ Once deleted, you will not be able to recover your account!"
                            )
                        ) {
                            window.location.href = this.href;
                        }
                    });
            </script>
        </section>

        <!-- Upload type: component path: partials/upload -->
        <%- include('partials/upload.ejs') %>
    </body>
</html>
