<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <title>Document</title>
    </head>
    <body>
        <% if(isLoggedIn) { %>
        <p>You are logged in as <strong><%- user.username %></strong></p>

        <p>id: <strong><%- user.userId %></strong></p>
        <p>Account created: <strong><%- user.createdAt %></strong></p>
        <p>Provider: <strong><%- user.provider %></strong></p>

        <img
            src="<%- user.avatar %> "
            alt="<%- user.username %>"
            class="w-25 border-dark"
        />

        <a href="/auth/logout" class="btn btn-warning btn-sm">Logout</a>
        <a href="/auth/delete" class="btn btn-danger btn-sm">Delete Account</a>

        <% } else { %>
        <p>You are not logged in</p>
        <a href="/auth/google" class="btn btn-primary">Login with Google</a>
        <a href="/auth/github" class="btn btn-dark ml-5">Login with Github</a>
        <% } %>
    </body>
</html>
