<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <title>Imagemagik - Partners</title>
    </head>
    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container mt-5">
            <h1>Partners</h1>
            <p>
                Want to be a partner?
                <a class="btn-link" href="/partners/apply">Apply here</a>
            </p>

            <h2>Current Partners</h2>
            <% if (partner.length === 0) { %> 
                <p>No partners yet.</p>
            <% } else { %>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="card-title-text">
                                    <img
                                        src="<%- partnerLogo  %> "
                                        alt="Partner Logo"
                                        width="40%"
                                    />
                                </div>
                                <h4><%- partnerName %></h1>
                            </h5>
                            <p class="card-text">
                                <%- partnerDescription  %> 
                            </p>
                            <a
                                href="<%- partnerLink %> "
                                target="_blank"
                                class="btn btn-primary btn-sm"
                            >
                               <i class="fas fa-external-link"></i> Visit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </body>
</html>
