<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--  -->
        <link
            rel="stylesheet"
            href="/plugins/bootstrap/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/plugins/fontawesome/css/all.css" />
        <!-- JavaScript Bundle with Popper -->
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <title>View</title>
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>

        <section
            class="text-center mb-3"
            style="background-color: lightslategray"
        >
            <div class="row">
                <div class="col-md-12">
                    <img
                        src="<%- url %>"
                        alt="<%- name %>"
                        class="img-fluid"
                        width="30%"
                    />
                </div>
            </div>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center"><%- name %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Uploaded on <strong><%- uploadedAt %></strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <a
                            href="<%- url %>"
                            download="<%- name %>"
                            class="btn btn-primary"
                        >
                            <i class="fa fa-download"></i> Download
                        </a>

                        <a onclick="sharetab()" class="btn btn-success"
                            ><i class="fa-solid fa-share"></i> Share</a
                        >

                        <% if (userRole == 'admin') { %>
                        <a
                            href="/auth/delete/image/<%- imageId %>"
                            class="btn btn-danger"
                        >
                            <i class="fa fa-trash-alt"></i> Delete
                        </a>
                        <% } %>
                    </p>
                </div>
            </div>
        </section>
        <style>
            @media screen and (max-width: 768px) {
                .img-fluid {
                    width: 55%;
                }
            }

            @media screen and (max-width: 400px) {
                .img-fluid {
                    width: 60%;
                }
            }
        </style>
        <script>
            if (window.location.pathname == "/view/<%- imageId %>") {
                document.getElementById("home").classList.remove("active");
            }

            function logout() {
                window.location.href = "/auth/logout";
            }

            function upload() {
                window.location.href = "/dashboard#upload";
            }

            function sharetab() {
                window.open("/share/<%- imageId %>", "_blank");
            }
        </script>
    </body>
</html>
