<section class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <h2 class="card-title text-center">Your images</h2>

                    <div class="row">
                        <% for (let image of images) { %> <% if (id ==
                        image.uploadedBy) { %>
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <img
                                    src="<%- image.imagePath %>"
                                    alt="<%- image.imageName %>"
                                    width="20%"
                                    class="card-img-top"
                                />
                                <div class="card-body">
                                    <p class="card-text">
                                        <%- image.imageName %>
                                    </p>
                                    <a
                                        href="<%- image.imagePath  %> "
                                        target="_blank"
                                        class="btn btn-primary"
                                    >
                                        View
                                    </a>
                                    <button
                                        type="button"
                                        class="btn btn-danger"
                                        data-toggle="modal"
                                        id="delete"
                                        data-target="#deleteModal"
                                        data-id="<%- image.id %>"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %> <% } %>
                    </div>
                    <script>
                        document
                            .getElementById("delete")
                            .addEventListener("click", function (e) {
                                e.preventDefault();
                                if (
                                    confirm(
                                        "⚠ Are you sure you want to delete your account? \n ⛔ Once deleted, you will not be able to recover your account!"
                                    )
                                ) {
                                    window.location.href = this.href;
                                }
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
